/* Color Scheme
Background : #4ABDAC;
Buttons : #fc4a1a;
Text : #dfdce3;
Yellow: #F7B733;
 */

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  margin-bottom: 25px;
  background: url(/bg.jpg) no-repeat center center fixed;
}

.App-header-inner {
  padding: 20px;
  color: white;
  background-color: rgba(74, 189, 172, 0.8);
}

.heading {
  font-family: 'Raleway', sans-serif;
  color: #f7b733;
  text-decoration: underline;
  font-size: 1.5em;
  margin: 10px 0;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: 17px;
  line-height: 1.7em;
}

.App-body > div {
  padding-bottom: 20px;
}

button {
  background-color: #fc4a1a;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 25px;
}

button.button-cancel {
  background-color: #dfdce3;
}

button:hover {
  cursor: pointer;
}

.App-entry-confirmation button + button {
  margin-left: 20px;
}

.emphasize-foreground-yellow {
  color: #f7b732;
}

.emphasize-foreground-orange {
  color: #fc4a1a;
}

.text-large {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-medium {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-small {
  font-size: 16px;
  margin-bottom: 10px;
}
