/* Color Scheme
Background : #4ABDAC;
Buttons : #fc4a1a;
Text : #dfdce3;
Yellow: #F7B733;
 */

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-bottom: 25px;
  background: url(/bg.jpg) no-repeat center center fixed;
}

.App-header-inner {
  padding: 20px;
  color: white;
  background-color: rgba(74, 189, 172, 0.8);
}

.App-title {
  font-size: 3.5em;
  font-family: 'Raleway', sans-serif;
  color: #f7b733;
  text-decoration: underline;
}

.App-intro {
  font-size: 17px;
  line-height: 1.7em;
}

.App-body > div {
  padding-bottom: 20px;
}

.feature h3 {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: #f7b733;
  text-decoration: underline;
  margin: 10px 0;
}

button {
  background-color: #fc4a1a;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

.emphasize-foreground {
  color: #f7b732;
}

.text-large {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
