/* Color Scheme
Background : #4ABDAC;
Buttons : #F7B733;
Text : #dfdce3;
Orange: #fc4a1a;
 */

#root {
  background: url(/bg.jpg) no-repeat center center fixed;
}

.App {
  text-align: center;
  /* background-color: #4abdac; */
  background-color: rgba(74, 189, 172, 0.8);
  min-height: 100vh;
  color: #dfdce3;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  background-color: #fc4a1a;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

.emphasize-foreground {
  color: #f7b732;
}

.text-large {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
